#board {
  background-color: palevioletred;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(20, 40px);
}

.boardDiv {
  height: 40px;
  width: 40px;
  color: palevioletred;
  border: 1px solid black;
}