#board {
  background-color: palevioletred;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
}

.boardDiv {
  height: 20px;
  width: 20px;
  color: palevioletred;
  border: 0.1px solid black;
}